<div class="responsive-element desktop pb-5"></div>
<div class="container">
    <div class="row align-items-center p-2 g-lg-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Inicia sesión en Game<span class="text-primary">Hall</span></h1>
        </div>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="col-md-10 mx-auto col-lg-5 p-5 p-md-5 border rounded-5 bg-body-tertiary">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="Correo electrónico"
                    [(ngModel)] = "email" name="email"
                    required email
                    #emailField = "ngModel">
                @if (emailField.invalid && emailField.touched){
                    <div class="text-danger small mt-1 me-1">
                        <i class="bi bi-exclamation-octagon-fill"></i>
                        Introduce un correo válido
                    </div>
                }
                <label>Correo electrónico</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" placeholder="Contraseña"
                    [(ngModel)] = "password" name="password"
                    required
                    #passField = "ngModel">
                @if (passField.invalid && passField.touched){
                    <div class="text-danger small mt-1 me-1">
                        <i class="bi bi-exclamation-octagon-fill"></i>
                        Campo obligatorio
                    </div>
                }
                <label class="form-label">Contraseña</label>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid || loading()">
                @if (loading()) { Cargando... } @else { Iniciar sesión }
            </button>
            @if(errorOnSubmit()){
                <div class="text-danger small mt-1 me-1">
                    <i class="bi bi-exclamation-octagon-fill"></i>
                    {{ errorOnSubmit() }}
                </div>
            }
            <hr>
            <div class="d-flex justify-content-center gap-3 m-3">
                <button type="button" class="btn btn-outline-secondary" (click)="userExampleOne()">User 1</button>
                <button type="button" class="btn btn-outline-secondary" (click)="userExampleTwo()">User 2</button>
                <button type="button" class="btn btn-outline-secondary" (click)="userExampleThree()">User 3</button>
            </div>
            <hr>
            <p>¿Aún no tenés una cuenta? <a href="signup">Crea una aquí</a></p>
        </form>
    </div>
</div>