.background-img {
    background-image: 
        url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
        linear-gradient(135deg, #0d2e00, #072c00, #013000);
    background-blend-mode: overlay;
    opacity: 0.95;
    height: 430px;
}

.btn-menu {
    background-color: rgb(118, 255, 111);
    color: black;
    border-radius: 0.4cap;
}

.btn-menu:hover {background-color: rgb(60, 207, 65);}
.btn-menu:hover {background-color: rgb(60, 207, 65);}

@media screen and (max-width: 600px) {
    .background-img {height: auto;}
}