.letter {width: 45px;height: 55px;background-color: white;color: black;}

.letter:active {background-color: #ababab;}
.letter.inactive {background-color: white;}
.letter.disabled {background-color: #7e7e7e;}

@media screen and (max-width: 600px) {
    .letter {width: 35px;height: 45px;}
}